/* For Mobile - portrait, 700px and down */

@media screen and (orientation: portrait) and (max-width: 700px) {
	
	body,td,th,p {
	font-size: 18pt;
	line-height: 1.5;
	}

	body {
		width: 700px;
		box-sizing: border-box;
	}

	ol, ul, li {
		font-size: 18pt;
	}

	#footer {
		font-size: 12pt;
	}

	/* ====================== Header ====================== */

	header h1 {
		line-height: 1;
	}

	header h1 a {
		font-size: 16pt;
	}

	/* ====================== Navigation ====================== */

	#breadcrumb {
		font-size: 16px;
		padding: 0px 0px 15px;
		position: absolute;
		margin: 0px;
	}
	
	/* ====================== Map ====================== */

/*	#map {
	  height: 500px;
	}*/

	/* ====================== Restaurant Filtering ====================== */

	.filter-options {
		height: 30%;
	}

	.filter-options h2 {
		font-size: 18pt;
	}

	.filter-options select {
		font-size: 18pt;
		width: 40%;
		height: 25%;
	}

	/* ====================== Restaurant Listing ====================== */
	
	#restaurants-list {
		padding: 0px;
	}

	#restaurants-list li {
		width: 100%;
		padding: 0px 0px 25px;
		border: none;
		margin: 0px;
	}

	#restaurants-list .restaurant-img {
	  width: 100%;
	  max-height: 30%;
	  margin: auto;
	}

	#restaurants-list li h2 {
		font-size: 20pt;
		text-align: center;
	}

	#restaurants-list p {
		font-size: 20px;
		text-align: center;
	}

	#restaurants-list li a {
		font-size: 18px;
		padding: 25px;
	}

	/* ====================== Restaurant Details ====================== */

	.inside #map-container {
	  height: 10%;
	  position: absolute;
	  width: 100%;
	  right: 0px;
	  top: 150px;
	}

	#restaurant-name {
	  font-size: 20pt;
	  text-align: center;
	}

	#restaurant-img {
		width: 100%;
	}
	#restaurant-address {
	  font-size: 18pt;
	  margin: 20px;
	}

	#restaurant-hours {
	  border-spacing: 25px 5px;
	  font-size: 17px;
	  line-height: 2;
	  padding-bottom: 20px;
	}

	#restaurant-cuisine {
	  font-size: 18pt;
	  padding: 4px 0;
	  width: 100%;
	}

	#restaurant-container {
	  width: 100%;
	  padding: 440px 0px 0px 0px;
	}

	#reviews-container {
		width: 95%;
		padding: 30px 0px 50px 5%;
	}

	#reviews-list li {
		width: 87%;
	}

	#reviews-list li p {
	  margin: 0 0 10px;
	  line-height: 1.5;
	}

}

/* For Tablet - iPad (portrait, 700px and up) */

@media screen and (orientation: portrait) and (min-width: 700px) and (max-width: 1024px) {

	body {
		max-width: 1024px;
	}

	ol, ul, li {
		font-size: 14pt;
	}

	/* ====================== Header ====================== */
	
	header h1 {
		line-height: 1.5;
	}

	header h1 a {
		font-size: 14pt;
	}

	/* ====================== Navigation ====================== */

	#breadcrumb {
		font-size: 14px;
	}

	/* ====================== Restaurant Filtering ====================== */
	
	.filter-options {
		width: 100%;
		height: 100px;
	}

	.filter-options h2 {
		font-size: 14pt;
	}

	.filter-options select {
		font-size: 14pt;
		width: 30%;
	}

	/* ====================== Restaurant Listing ====================== */

	#restaurants-list li h2 {
		font-size: 14pt;
	}

	#restaurants-list p {
		font-size: 10pt;
	}

	#restaurants-list li a {
		font-size: 12pt;
	}
	
	/* ====================== Restaurant Details ====================== */

	.inside #map-container {
	  background: blue none repeat scroll 0 0;
	  height: 25%;
	  position: absolute;
	  width: 100%;
	  right: 0px;
	  top: 130px;
	}

	#restaurant-name {
	  font-size: 20pt;
	  text-align: center;
	}

	#restaurant-img {
		width: 100%;
	}
	#restaurant-address {
	  font-size: 18pt;
	  margin: 20px;
	}

	#restaurant-hours {
	  border-spacing: 25px 5px;
	  font-size: 17px;
	  line-height: 2;
	  padding-bottom: 20px;
	}

	#restaurant-cuisine {
	  font-size: 18pt;
	  padding: 4px 0;
	  width: 100%;
	}

	#restaurant-container {
	  width: 100%;
	  padding: 850px 0px 0px 0px;
	}

	#reviews-container {
		width: 95%;
		padding: 30px 0px 50px 5%;
	}

	#reviews-list li {
		width: 87%;
	}

	#reviews-list li p {
	  margin: 0 0 10px;
	  line-height: 1.5;
	}

}