/* For Mobile - Nexus 5 (portrait, 360px and up) */

@media screen and (orientation: portrait) and (min-width: 360px) {

	body {
		max-width: 360px;
		margin-left: auto;
		margin-right: auto;
	}

};

/* For Tablet - iPad (portrait and portrait, 700px and up) */

@media screen and (orientation: portrait) and (min-width: 700px, max-width: 1024px) {

};